//main-nav

.main-nav__list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  max-width: 750px;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 14px;
  color: $white;
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:active,
.main-nav__link--selected {
  background-color: darken($orange, 20%);
}