.main-menu__wrap {
  position: relative;
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 55px;
}

.main-header__menu-toggle {
  display: none;
}

//main-menu__search-form

.main-menu__search-form {
  position: relative;
  min-height: 30px;
}

.main-menu__search-form::after {
  position: absolute;
  top: 15px;
  right: 10px;
  margin-top: -7px;
  content: '';
  background-image: url("../images/magnifying-glass.svg");
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}

.main-menu__search-control {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 160px;
  border-radius: 8px;
  outline: none;
}

@media (max-width: 1200px) {

  .main-menu__search-control {
    padding-right: 145px;
  }
}

@media (max-width: 992px) {

  .main-menu__wrap {
    justify-content: flex-end;
  }

  .main-menu__search-form {
    margin-right: 2%;
  }

  //.main-menu__wrap {
  //  flex-direction: column;
  //  justify-content: flex-start;
  //  align-items: center;
  //  pt10
  //  min-height: 55px;
  //}
  //
  //.main-menu__search-form {
  //  flex-grow: 1;
  //  order: 1;
  //}

}